/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222222;
    /*background-image:linear-gradient(top, #000000 0%, #000000 51%);
    background-image:-webkit-linear-gradient(top, #000000 0%, #000000 51%);
    background-image:-ms-linear-gradient(top, #000000 0%, #000000 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #000000),
        color-stop(0.51, #000000)
    );
    background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    /*height:100%;*/
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    /*width:100%;*/
    color:#ffffff;
}
/* Portrait layout (default) */
.logo {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .logo {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}
.event.listening {
    background-color:#333333;
    display:block;
}
.event.received {
    background-color:#4B946A;
    display:none;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 .blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.mnuButton {
    color:#FFFFFF;
    font-size:24px;
    margin:5px;
    padding:10px;

    box-shadow: 0px 0px 10px #000000;
    opacity: 0.9;
    border-style: ridge;
    border-color: #000000;
    border-width: 3px 3px 3px 3px;
    background-color:#222222;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px;

    vertical-align: middle;
    text-align: center;
    text-transform:uppercase;
}
.mnuTable {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
}
.menu {
    /*position:absolute;
    left:50%;
    top:50%;*/
    vertical-align: middle;
    text-align: center;
}
a {
    text-shadow: 0px 0px 20px #eeeeee;
    text-transform:uppercase;
}
a:link {color:#ffffff; text-decoration:none;}
a:hover {color:#ffffff; text-decoration:none;}
a:visited {color:#ffffff;}
HR {width:20%; box-shadow: 0px 0px 10px #000000; color:#000000; border-color:#000000;}
.main {
    position:absolute;
    left:0px;
    top:0px;
    /*border-style: ridge;
    border-color: #33b5e5;*/
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    z-index:-1;
    /*width:100%;
    height:100%;*/
}
.scoreBoard {
    position:fixed;
    left:10px;
    top:10px;
    z-index:1;

    color:#FFFFFF;
    font-size:24px;
    margin:2px;
    padding:5px;

    box-shadow: 0px 0px 10px #000000;
    opacity: 0.9;
    border-style: ridge;
    border-color: #000000;
    border-width: 3px 3px 3px 3px;
    background-color:#222222;
    border-radius: 4px 0px 10px 1px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 10px;
}
.gameOver {
    position:fixed;
    left:40%;
    top:40%;
    z-index:1;
}
SPAN.bright {
    text-shadow: 0px 0px 12px #ffffff;
    color:#ffffff;
    text-decoration:none;
    font-weight: bold;
}
.buffers {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 640px;
    height: 480px;
}